
// primary colors
$Dark-Blue-intro: hsl(217, 28%, 15%);
$Dark-Blue-main: hsl(217, 27%, 13%);
$Dark-Blue-footer: hsl(216, 53%, 9%);
$Dark-Blue: hsl(219, 30%, 18%);

@media (min-width: 319px) and (max-width: 480px) {

    .py {
        padding-left: 25px;
        padding-right: 25px;
    }

    .main-heading {
        font-weight: 700;
        margin: 30px 0;
        font-size: 1.25rem;
        letter-spacing: 1px;
    }

    .text-primary {
        text-align: center;
        width: 100%;
        margin-top: 0;
        font-size: 1em;
        line-height: 1.5em;
        letter-spacing: 1px;
    }

    .header {
        height: 120vh;
        background: url("../images/bg-curvy-mobile.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 0% 100%;
        background-color: $Dark-Blue-intro;
        .navbar {
            width: 100%;
            padding: 40px 25px 10px;
            // background: red;
            .logo {
                width: 90px;
                height: 30px;
                // position: relative;
                .nav-logo {
                    width: 100%;
                    height: 100%;
                }
            }

            .desktop { display: none; }

            .mobile { 
                display: block;
                .fa-bars, .fa-times {
                    font-size: 25px;
                    transition: all .5s ease;
                }
                .fa-times {
                    display: none;
                    opacity: 0;
                }
                .mobile-nav {
                    display: none;
                    width: 100%;
                    background: rgba(24, 31, 42, .8);
                    position: absolute;
                    left: 0;
                    top: 40%;
                    opacity: 0;
                    transition: all .5s ease;
                    .nav-item {
                        padding: 20px 15px;
                        border-bottom: #fff;
                        font-size: 18px;
                    }
                }
            }
        }

        .illustration-intro {
            width: 90%;
            // border: 1px solid white;
            padding: 25px 15px;
    
            .illustration { width: 100%; }
    
            .main-btn { margin-top: 30px;}
        }
    }

    .features-columns {
        // border: 1px solid #fff;
        width: 90%;
        grid-template-columns: repeat(1, 100%);
        grid-row-gap: none;

        .feature-heading { 
            font-size: 18px; 
            margin: 20px 0 10px;
        }
    }

    .services {
        padding-top: 100px;
        padding-bottom: 50px;
        flex-direction: column;

        .img-container {
            width: 100%;
            height: 200px;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .service-details {
            padding: 0;
            margin-top: 40px;
            .service-text {
                font-size: .8em;
            }
            .service-cta { font-size: .9em;}
        }
    }

    .testimonials {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;

        &::before {
            content: "";
            width: 40px;
            height: 50px;
            top: 20px;
            left: 30px;
            z-index: -6;
        }

        .testimony {
            width: 100%;
            min-height: 200px;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
            &:last-child { margin-bottom: 0; }

            .text-test { 
                font-size: .8em;
                letter-spacing: 1px;
                margin-bottom: 20px;
            }
        }
    }

    .news-letter {
        .form-container {
            width: 90%;
            padding: 15px;
            .main-heading {
                margin: 0 0 20px;
            }
            .form-news_letter {
                margin-top: 30px;
                .input-form {
                    width: 100%;
                    padding: 10px 20px;
                    margin-bottom: 15px;
                    font-size: .8em;
                }

                .main-btn { 
                    margin: 0;
                    padding: 10px 20px;
                    font-size: .8em;
                }
            }
        }
    }

    .footer {
        padding-top: 150px;
        padding-bottom: 0px;

        .footer-logo {
            width: 40%;
        }

        .footer-columns {
            flex-direction: column;
            margin-top: 20px;

            .adress,
            .info, .footer-main-menu,
            .footer-privacy,
            .social-icons {
                width: 100%;
                padding: 10px;
                font-size: .8em;
                margin-top: 20px;
            }
        }

        .attribution {
            padding: 15px 20px;
        }

        .attribution a { font-size: .8em;}
    }
    
}

@media (min-width: 481px) and (max-width: 768px) {
    .py {
        padding-left: 70px;
        padding-right: 70px;
    }

    .main-heading {
        font-weight: 700;
        margin: 50px 0 25px;
        font-size: 2rem;
        letter-spacing: 1px;
    }

    .text-primary {
        text-align: center;
        width: 100%;
        margin-top: 0;
        font-size: 1.2em;
        line-height: 1.5em;
        letter-spacing: 1px;
    }

    .header {
    
        height: 100vh;
        background: url("../images/bg-curvy-mobile.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 0% 100%;
        background-color: $Dark-Blue-intro;
        .navbar {
            width: 100%;
            padding: 50px 70px 20px;
            // background: red;
            .logo {
                width: 140px;
                height: 40px;
                // position: relative;
                .nav-logo {
                    width: 100%;
                    height: 100%;
                }
            }

            
        }

        .illustration-intro {
            width: 90%;
            // border: 1px solid white;
            padding: 25px 15px;
    
            .illustration { width: 100%; }
    
            .main-btn { margin-top: 30px;}
        }
    }

    .features-columns {
        // border: 1px solid #fff;
        width: 90%;
        grid-row-gap: none;

        .feature-heading { 
            font-size: 18px; 
            margin: 20px 0 10px;
        }
    }

    .services {
        padding-top: 100px;
        padding-bottom: 50px;
        flex-direction: column;

        .img-container {
            width: 100%;
            height: 400px;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .service-details {
            padding: 0;
            margin-top: 40px;
            .service-text {
                font-size: 1em;
            }
            .service-cta { font-size: 1.2em;}
        }
    }

    .testimonials {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;

        &::before {
            content: "";
            width: 40px;
            height: 50px;
            top: 20px;
            left: 50px;
            z-index: -6;
        }

        .testimony {
            width: 100%;
            min-height: 200px;
            padding: 25px;
            margin-bottom: 25px;
            border-radius: 20px;
            &:last-child { margin-bottom: 0; }

            .text-test { 
                font-size: 1em;
                letter-spacing: 1px;
                margin-bottom: 30px;
            }
        }
    }

    .news-letter {
        .form-container {
            width: 75%;
            padding: 35px;
            .main-heading {
                margin: 0 0 30px;
            }
            .form-news_letter {
                margin-top: 30px;
                .input-form {
                    width: 100%;
                    padding: 10px 20px;
                    margin-bottom: 15px;
                    font-size: 1em;
                }

                .main-btn { 
                    margin: 0;
                    padding: 10px 20px;
                    font-size: .8em;
                }
            }
        }
    }

    .footer {
        padding-top: 190px;
        padding-bottom: 0px;

        .footer-logo {
            width: 35%;
        }

        .footer-columns {
            flex-direction: column;
            margin-top: 20px;

            .adress,
            .info, .footer-main-menu,
            .footer-privacy,
            .social-icons {
                width: 100%;
                padding: 10px;
                font-size: 1.5em;
                margin-top: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            .phone, .email, .footer-link {
                margin-right: 50px;
                img { width: 30px;}
            }

            // .info {
            //     flex-direction: row;
            // }
        }

        .attribution {
            padding: 15px 20px;
        }

        .attribution a { font-size: .8em;}
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .py {
        padding-left: 80px;
        padding-right: 80px;
    }

    .main-heading {
        font-weight: 700;
        margin: 70px 0 40px;
        font-size: 2.5rem;
        letter-spacing: 1px;
    }

    .text-primary {
        text-align: center;
        width: 100%;
        margin-top: 0;
        font-size: 1.5em;
        line-height: 1.5em;
        letter-spacing: 1px;
    }

    .header {
    
        height: 100vh;
        background: url("../images/bg-curvy-mobile.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 0% 100%;
        background-color: $Dark-Blue-intro;
        .navbar {
            width: 100%;
            padding: 50px 80px 20px;
            // background: red;
            .logo {
                width: 140px;
                height: 40px;
                // position: relative;
                .nav-logo {
                    width: 100%;
                    height: 100%;
                }
            }

            
        }

        .illustration-intro {
            width: 90%;
            // border: 1px solid white;
            padding: 25px 15px;
    
            .illustration { width: 100%; }
    
            .main-btn { margin-top: 30px;}
        }
    }

    .features-columns {
        // border: 1px solid #fff;
        width: 90%;
        grid-row-gap: none;

        .feature-heading { 
            font-size: 18px; 
            margin: 20px 0 10px;
        }
    }

    .services {
        padding-top: 100px;
        padding-bottom: 50px;
        flex-direction: column;

        .img-container {
            width: 100%;
            height: 600px;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .service-details {
            padding: 0;
            margin-top: 40px;
            .service-text {
                font-size: 1.5em;
            }
            .service-cta { font-size: 1.7em;}
        }
    }

    .testimonials {
        padding-top: 60px;
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;

        &::before {
            content: "";
            width: 40px;
            height: 50px;
            top: 30px;
            left: 50px;
            z-index: -6;
        }

        .testimony {
            width: 100%;
            min-height: 200px;
            padding: 50px;
            margin-bottom: 40px;
            border-radius: 20px;
            &:last-child { margin-bottom: 0; }

            .text-test { 
                font-size: 1.2em;
                letter-spacing: 1px;
                margin-bottom: 30px;
            }
        }
    }

    .news-letter {
        padding-top: 120px;
        padding-bottom: 120px;

        .form-container {
            width: 75%;
            padding: 35px;
            .main-heading {
                margin: 0 0 30px;
            }
            .text-news-letter { font-size: 1.5em;}
            .form-news_letter {
                margin-top: 30px;

                .input-form {
                    width: 100%;
                    padding: 10px 20px;
                    margin-bottom: 15px;
                    font-size: 1.5em;
                }

                .main-btn { 
                    margin: 0;
                    padding: 10px 20px;
                    font-size: .8em;
                }
            }
        }
    }

    .footer {
        padding-top: 240px;
        padding-bottom: 0px;

        .footer-logo {
            width: 30%;
        }

        .footer-columns {
            flex-direction: column;
            margin-top: 20px;

            .adress,
            .info, .footer-main-menu,
            .footer-privacy,
            .social-icons {
                width: 100%;
                padding: 10px;
                font-size: 1.5em;
                margin-top: 20px;
                display: flex;
                flex-direction: row;
                // align-items: center;
            }

            .adress {
                img { 
                    width: 40px; 
                    margin-top: 5px;
                }
            }

            .phone, .email, .footer-link {
                margin-right: 50px;
                img { width: 30px;}
            }

            // .info {
            //     flex-direction: row;
            // }
        }

        .attribution {
            padding: 15px 20px;
        }

        .attribution a { font-size: 1.2em; letter-spacing: 1px;}
    }
}